{% load static %}
<!-- templates/base.html -->
<head>
    <title> traning </title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<header>
    <a href="{% url 'form' %}">
        form
    </a>
    |
    <a href="{% url 'table' %}">
        table
    </a>
    |
    <a href="{% url 'home' %}">
        home
    </a>
    {% if user.is_authenticated %}
    <p> Hi, {{ user.username}}</p>
    <p><a href="{% url 'logout' %}" > Logout </a></p>
        {%else%}
        <p> You must log in, </p>

    <p><a href="{% url 'login' %}"> Login </a></p>
    <p><a href="{% url 'signup' %}"> Sign Up </a></p>
        {% endif %}
</header>

{% block content %}
{% endblock %}