<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<html lang="en">
<head>

    <style>

            table {
           height: 600px;
        }
        th {
           width: 7%;
        }
        td:first-child {
           width: 7%;
        }
    table, th, td{
        font-size:20px;
        color:black;
        background-color:white;
      border: 1px solid black;
    }
    th.noborder{
    border:none;
    }
    input{

    height: 90%;
     border: 1px solid white;

    width:90%;
    text-align: center;
    }
</style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table style="width:100%">
    <tr>
    <th> ОФП</th>
    <th colspan="2">Понедельник</th>
    <th colspan="2">Вторник</th>
        <th colspan="2">Среда</th>
        <th colspan="2">четверг</th>
        <th colspan="2">пятница</th>
        <th colspan="2">суббота</th>
  </tr>
    <tr><th >подтягивания</th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>

    </tr>
     </tr>
    <tr><th >отжимания</th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>

    </tr>
    </tr>
    <tr><th >приседания</th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>

    </tr>
     </tr>
    <tr><th >прыжки(время)</th>
        <th colspan="2" ><input type="number" min="0"></th>
        <th colspan="2"><input type="number" min="0"></th>
        <th colspan="2"><input type="number" min="0"></th>
        <th colspan="2"><input type="number" min="0"></th>
        <th colspan="2"><input type="number" min="0"></th>
        <th colspan="2"><input type="number" min="0"></th>

    </tr>
    </tr>
    <tr><th >подъезд</th>
    <th colspan="2" ><input type="number" min="0"></th>
    <th colspan="2"><input type="number" min="0"></th>
        <th colspan="2"><input type="number" min="0"></th>
        <th colspan="2"><input type="number" min="0"></th>
        <th colspan="2"><input type="number" min="0"></th>
        <th colspan="2"><input type="number" min="0"></th>


    </tr>
    </tr>
    <tr><th >пресс</th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>

    </tr>
     </tr>
    <tr><th >вес</th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>

    </tr>
     </tr>
    <tr><th >вессовая</th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>

    </tr>

    <tr><th >Брусья</th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>
            <th><input type="number" min="0"></th>

    </tr>
     </tr>
    <tr><th >стадион</th>
    <th colspan="2" ><input type="number" min="0"></th>
    <th colspan="2"><input type="number" min="0"></th>
        <th colspan="2"><input type="number" min="0"></th>
        <th colspan="2"><input type="number" min="0"></th>
        <th colspan="2"><input type="number" min="0"></th>
        <th colspan="2"><input type="number" min="0"></th>


    </tr>
    </tr>

</table>
<button>кнопка</button>
</body>
</html>
{%endblock%}